<!-- Youtube tutorial => https://youtu.be/zVjAA6UxvtU?si=rG4UaibWOMs_0jV5 -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active c-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
      <a [routerLink]="slide.link">
        <img src="{{slide.src}}" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption">
          <p class="mt-5 fs-3 text-uppercase">{{slide.subtitle}}</p>
          <h1 class="display-1 fw-bolder text-capitalize">{{slide.title}}</h1>
          <button class="btn btn-ios px-4 py-2 fs-5 mt-5">More info</button>
        </div>
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
