<!-- Youtube tutorial => https://youtu.be/zVjAA6UxvtU?si=rG4UaibWOMs_0jV5 -->
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">


  <div class="carousel-inner">
    <div class="carousel-item active c-item">

      <img src="{{hero.src}}" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption">
        <p class="mt-5 fs-3 text-uppercase">{{hero.subtitle}}</p>
        <h1 class="display-1 fw-bolder text-capitalize">{{hero.title}}</h1>
        <!--           <button class="btn btn-ios px-4 py-2 fs-5 mt-5">More info</button> -->
      </div>

    </div>
  </div>

</div>
