<input type="checkbox" id="active">
<label for="active" class="menu-btn"><i class="bi bi-list"></i></label>
<div class="wrapper">
  <ul>
    <li> <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active">Home</a></li>
    <li> <a class="nav-link" [routerLink]="['crud']" routerLinkActive="router-link-active">Crud</a></li>
    <li> <a class="nav-link" [routerLink]="['map']" routerLinkActive="router-link-active">Map</a></li>
    <li> <a class="nav-link" [routerLink]="['fullcalendar']" routerLinkActive="router-link-active">FullCalendar</a></li>
    <li> <a class="nav-link" [routerLink]="['charts']" routerLinkActive="router-link-active">Charts</a></li>
  </ul>
</div>
